<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!--Libararies-->
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-route.min.js"></script>
    <script src="../lib/angular-resource.min.js"></script>
    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/angular-translate.min.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/animations.css">
    <!---->

    <!--Bootstrap Libararies-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../lib/bootstrap.min.js"></script>
    <!---->

    <!--Custom File-->
    <script src="../js/app.js"></script>
    <script src="../js/controller/index.js"></script>
    <script src="../js/controller/LocalizationController.js"></script>
    <script src="../filters/checker.js"></script>
    <script src="../services/sampleService.js"></script>
    <script src="../services/menuService.js"></script>
    <!---->

</head>
<body ng-app="sampleApp">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PankajApp</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active : selectedMenu === 'twoWay'}">
                        <a href="#/route1" data-toggle="collapse" ng-click="setMenuTitle('twoWay')">Two Way</a>
                    </li>
                    <li ng-class="{active : selectedMenu === 'localization'}">
                        <a href="#/localization" data-toggle="collapse" ng-click="setMenuTitle('localization')">Localization</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Pankaj </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<br><br><br>
<div class="container"><br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="view-container">
                <div ng-view="" class="view-frame"></div>
            </div>
        </div>

        <div class="clearfix visible-lg"></div>
    </div>
</div>

</body>
</html>